body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #0a0f24;
    background-image: url(hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #e0e0e0;
}

header {
    background-color: rgba(10, 15, 36);
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

#header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
}

.cta-button {
    color: white;
    padding: 22px;
    background-color: #009E60;
    border-radius: 25px;
    text-decoration: none;
}

.logo {
    text-decoration: none;
    color: white;
}

#about {
    background-color: rgba(10, 15, 36, 0.8);
    border-radius: 10px;
    width: 100vw;
    height: 90vh;
}

#about h2 {
    font-size: 2.5em;
    margin-left: 10vw;
    margin-top: 0;
    padding-top: 30vh;
}

#about p {
    font-size: 1.5em;
    text-align: left;
    margin: 10vw;
    margin-top: 20px;
    width: 40vw;
}

#how-it-works {
    background-color: rgba(10, 15, 36, 0.8);
    border-radius: 10px;
    width: 100vw;
    height: 100vh;
    margin-bottom: 0;
}

#the-works-container {
    background-color: rgba(10, 15, 36, 0.95);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    height: parent;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

#how-it-works h2 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 0;
}

.the-works {
    text-align: center;
    margin-top: 30px;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.the-works-headings {
    font-size:1.8em;
}

.the-works p {
    font-size: 1.5em;
    margin-top: -1em;
    padding-bottom: 20px;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
}

#features {
    margin-top: 0;
    background-color: rgba(10, 15, 36, 0.8);
    height: 80vh;
}

.features-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    padding-top: 20px;
}

.feature {
    width: 25vw;
    text-align: center
}

.feature h3 {
    font-size: 1.8em;
}

.feature p {
    font-size: 1.5em;
}

#features h2 {
    text-align: center;
    margin-top: 0;
    padding-top: 20vh;
    font-size: 2em;
}

footer {
    background-color: rgba(10, 15, 36);
    padding-top: 40px;
    padding-bottom: 40px;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}